<%- include('partials/header'); -%>

<div id="comp-container">
  <h1>Compose</h1>
  <form action="/compose" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="post-title">Title</label>
      <input class="form-control" id="post-title" name="post_title" type="text" required autocomplete="off">
    </div>

    <div class="mb-3">
      <label for="postcontent">Post</label>
      <textarea class="form-control text-area" id="postcontent" name="post_body" rows="4" required></textarea>
    </div>

    <div class="mb-3">
      <label for="uploaded_file">Select a file:</label>
      <input type="file" id="uploaded_file" name="uploaded_file">
    </div>

    <button class="btn btn-primary" type="submit">Publish</button>
  </form>
</div>

<%- include('partials/footer'); -%>